!!!
%html
  %head
    %title Pjax
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = Random.new_seed
    #main{"data-pjax-container" => ""}
      = yield
